<h1>Hermes-notes</h1>
<h2>
  To je domača stran aplikacije Hermes-notes, <br />
  ki bo olajšala urejanje financ vašega podjetja.
</h2>

<%= link_to "Registrirajte se zdaj!", signup_path, id: "signupBTN" %>