<% provide(:title, 'Vsi uporabniki') %>
<h2>Vsi uporabniki</h2>

<%= will_paginate %>

<table class="center">
  <thead>
    <tr>
      <th>Ime</th>
      <th>Priimek</th>
      <th>Naziv Podjetja</th>
      <th>Email</th>
      <th>Posta</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @uporabniks %>
  </tbody>
</table>

<br>

<%= will_paginate %>

<%= link_to 'Nov Uporabnik', new_uporabnik_path %>
