/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*********************** stil spletne aplikacije Hermes-notes *******************************/

/* Variables */




/************************ barve ********************************/
/*
http://colorschemedesigner.com/#0M51Nw0pJwtw0
*/
*
{
    color: #844F00;

    font-family: tahoma, verdana, sans-serif;
    font-size: 15px;
    /*text-align:center;*/
}

img.logo
{
    height: 20px;
}


section.main
{
    /*width: 1200px;*/
    display: inline-block;
}

article.main
{
    position: relative;

    width: 300px;
    height: 100%;
    min-height: 200px;
    display: inline-block;
}

div.main
{
    /*width: 300px;*/
    /*display: inline-block;*/
}



.center
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.hidden
{
    display: none;
}

.error *
{
    color:#cd5300;
    font-style: italic;

    padding: 10px 0 0 0;
    margin: 0 0 0 0;
}
.LBL
{
    text-align: right;
    /*width: 30%;*/
    min-width: 100px;
}
.INPUT
{
    text-align: left;
    /*width: 70%;*/
}
.MSG
{
    max-width: 200px;
}

table.podjetje.register
{
    width: 80%;
}

table.podjetje td
{
    text-align:center;
    vertical-align:middle;
}