// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "app";

#signupBTN
{
  padding: 12px;
  font-size: 1.7em;

  color: white;
  background-color: $osnovnaModra;

  border-radius: 10px;

  &:hover{
    background-color: $srednjeSvetloModra;
  }
}