@import "app";

h1, h2, h3, h4, h5, h6 {
  /*line-height: 1;*/
}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 25px;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $srednjeTemnoModra;
  a{
    font-size: 25px;
  }
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  margin-bottom: 2px;
  margin-top: 2px;
  color: $srednjeTemnoModra;
}

.text-center
{
  text-align: center;
}
