<footer class="footer center">
  <small>
    Powered by
    <%= link_to "Hermes-notes",   root_path %>
  </small>
  <nav class="right">
      <%= link_to "O nas",   about_path %>
      <%= link_to "Kontakt", contact_path %>
  </nav>
</footer>