<header class="">
  <%= link_to "HERMES-NOTES", root_path, id: "logo" %>
  <nav class="right">
    <%= link_to "Domov",    root_path %>
    <%= link_to "PomoÄ",    help_path %>
    <%= link_to "Prijava", '#' %>
  </nav>
</header>